<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title }}</title>
</head>

<body>
    <div class="section" id="splash">
        <div id="#biglink1" class="big-link1">
            <a href="/about" style="color:#F8B195">
                about me
            </a>
        </div>
        <div id="#biglink2" class="big-link2">
            <a href="/quality-engineering" style="color:#F67280">
                quality engineering
            </a>
        </div>
        <div id="#biglink3" class="big-link3">
            <a href="/workshops" style="color:#C06C84">
                workshops
            </a>
        </div>
        <div id="#biglink4" class="big-link4">
            <a href="/clients" style="color:#6C5B7B">
                client history
            </a>
        </div>

        <div id="#biglink5" class="big-link5">
            <a href="/posts" style="color:#355C7D">
                case studies
            </a>
        </div>
        <!-- <p class="footer">
            <img src="/logo.png" class="center">
        </p> -->
        <p class="footer">
            <a href="https://twitter.com/jaffamonkey" target="_blank">twitter</a>&nbsp;&nbsp;<a
                href="https://www.linkedin.com/in/jaffamonkey/" target="_blank">linkedin</a>&nbsp;&nbsp;<a
                href="mailto:paullittlebury@gmail.com" target="_blank">email</a>
        </p>
        <p class="footer">
            t: +44 7739 670315
        </p>
    </div>
</body>

</html>